PassengerNodejs /usr/local/bin/node
PassengerFriendlyErrorPages off

# Redireciona tudo para o app Node.js via Passenger
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.js [QSA,L]
